.contact{
    padding: 6.25rem 1.25rem;
}
textarea, input {
    width: 100%;
    padding: 0.87rem;
    margin: 0.65rem 0;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding-left: 1.12rem;
    font-size: 0.8rem;
    background: transparent;
    color: #495057;
}
textarea:focus,
input:focus {
    outline: none;
}
.half-row {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.contact__first-name {
    padding-right: 0.94rem;
}
.contact__email {
    padding-left: 0.94rem;
}
.contact__action{
    margin-top: 1.87rem;
}